<img src="/assets/images/sponsors/sponsoren/ibw.png" />
<img src="/assets/images/sponsors/sponsoren/cellpack.png" />
<img src="/assets/images/sponsors/sponsoren/akb.png" />
<img src="/assets/images/sponsors/sponsoren/hubschmid.png" />
<img src="/assets/images/sponsors/sponsoren/eifach.png" />
<img src="/assets/images/sponsors/sponsoren/raiffeisen.png" />
<img src="/assets/images/sponsors/sponsoren/ursmueller.png" />
<img src="/assets/images/sponsors/sponsoren/concordia.png" style="grid-column: 3" />
