<div class="supporter"><strong>Hansjörg Hübscher</strong><br />Wohlen</div>
<div class="supporter"><strong>Jürg Kaufmann </strong><br />Lenzburg</div>
<div class="supporter"><strong>Franziska Böss </strong><br />Riehen</div>
<div class="supporter"><strong>Fabian Eugster </strong><br />Lenzburg</div>
<div class="supporter"><strong>Urs Bosisio </strong><br />Hägglingen</div>
<div class="supporter"><strong>Daniel Keck </strong><br />Wohlen</div>
<div class="supporter"><strong>Rolf Lüthi </strong><br />Wohlen</div>
<div class="supporter"><strong>André Richner </strong><br />Villmergen</div>
<div class="supporter"><strong>Marco Schmid </strong><br />Wohlen</div>
<div class="supporter"><strong>Christoph Meyer </strong><br />Waltenschwil</div>
<div class="supporter"><strong>Guisi Di Chiara</strong><br />Anglikon</div>
<div class="supporter"><strong>Hans Zimmermann</strong><br />Dottikon</div>
